<%- include('../../fragments/header.ejs') %>

<main>
    <div style="display: none">
        <span id="errorMessage-required"><%= __('validationMessage.required') %></span>
        <span id="errorMessage-s1"><%= __('validationMessage.s1') %></span>
        <span id="errorMessage-s2"><%= __('validationMessage.s2') %></span>
        <span id="errorMessage-s3"><%= __('validationMessage.s3') %></span>
        <span id="errorMessage-b"><%= __('validationMessage.b') %></span>
    </div>
    <h2><%= pageTitle %></h2>
    <!--    onsubmit="return validateFirmPasswordForm();"-->
    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateFirmPasswordForm();">
        <input type="hidden" name="firmId" value="<%= password.Id %>">

        <label for="NoweHaslo"><%= __('password.fields.NoweHaslo') %>: <span class="symbol-required">*</span></label>
        <input type="text" name="NoweHaslo" id="NoweHaslo" value="<%= password.NoweHaslo ? password.NoweHaslo : '' %>"
               class="<%= validationErrors.find(e => e.path.includes('NoweHaslo')) ? 'error-input' : '' %>" required/>

        <span id="errorNoweHaslo" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('NoweHaslo'))) { %>
                <%= validationErrors.find(e => e.path.includes('NoweHaslo')).message %>
            <% } %>
        </span>

        <label for="PotwierdzHaslo"><%= __('password.fields.PotwierdzHaslo') %>: <span class="symbol-required">*</span></label>
        <input type="text" name="PotwierdzHaslo" id="PotwierdzHaslo" value="<%= password.PotwierdzHaslo ? password.PotwierdzHaslo : '' %>"
               class="<%= validationErrors.find(e => e.path.includes('PotwierdzHaslo')) ? 'error-input' : '' %>" required/>

        <span id="errorPotwierdzHaslo" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('PotwierdzHaslo'))) { %>
                <%= validationErrors.find(e => e.path.includes('PotwierdzHaslo')).message %>
            <% } %>
        </span>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <input type="submit" class="form-button-submit" value="<%-btnLabel%>"/>
            <a href="/firms/edit/<%=password.Id%>" class="form-button-cancel"><%= __('form.actions.cancel') %></a>
        </div>
    </form>


</main>

<%- include('../../fragments/footer.ejs') %>