<%- include('../../fragments/header.ejs') %>

<main>
    <div style="display: none">
        <span id="errorMessage-required"><%= __('validationMessage.required') %></span>
        <span id="errorMessage-s1"><%= __('validationMessage.s1') %></span>
        <span id="errorMessage-s2"><%= __('validationMessage.s2') %></span>
        <span id="errorMessage-s3"><%= __('validationMessage.s3') %></span>
        <span id="errorMessage-b"><%= __('validationMessage.b') %></span>
        <span id="errorMessage-l"><%= __('validationMessage.l') %></span>
    </div>
    <h2><%= pageTitle %></h2>
<!--    onsubmit="return validateEstateForm();"-->
    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateEstateForm();">
        <input type="hidden" name="estateId" value="<%= estate.Id %>">

        <label for="Adres"><%= __('estate.fields.Adres') %>: <span class="symbol-required">*</span></label>
        <input type="text" name="Adres" id="Adres" placeholder=<%= __('form.placeholders.symbolLimit') %> value="<%= estate.Adres %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e => e.path.includes('Adres')) ? 'error-input' : '' %>" required/>

        <span id="errorAdres" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('Adres'))) { %>
                <%= validationErrors.find(e => e.path.includes('Adres')).message %>
            <% } %>
        </span>

        <label for="Liczbabudynkow"><%= __('estate.fields.BuildingsNum') %>: <span class="symbol-required">*</span></label>
        <input type="number" name="LiczbaBudynkow" id="LiczbaBudynkow" placeholder=<%= __('form.placeholders.numLimit') %> value="<%= estate.LiczbaBudynkow %>" <%= (formMode === 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e => e.path.includes('LiczbaBudynkow')) ? 'error-input' : '' %>" required/>

        <span id="errorLiczbabud" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('LiczbaBudynkow'))) { %>
                <%= validationErrors.find(e => e.path.includes('LiczbaBudynkow')).message %>
            <% } %>
        </span>

        <%if (formMode === 'showDetails' && admin) { %>
            <div class="form-buttons">
                <a href="/estates/edit/<%= estate.Id %>" class="list-actions-button-edit"><%= __('form.actions.edit') %></a>
            </div>
        <% } %>

        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>

            <%if (formMode !== 'showDetails') { %>
            <input type="submit" class="form-button-submit" value="<%-btnLabel%>"/>
            <a href="/estates" class="form-button-cancel"><%= __('form.actions.cancel') %></a>
            <% } else { %>
                <a href="/estates" class="form-button-cancel"><%= __('form.actions.return') %></a>
            <% } %>
        </div>
    </form>





    <%if (formMode !== 'createNew') { %>
        <%let f = false%>
        <%if (loggedUser) {%>
            <% for (let construction of constructions) { %>
                <% if (loggedUser.Nazwa === construction.Nazwa) { %>
                <%f=true%>
                <% } %>
            <% } %>
        <%}%>

    <%if (admin || (loggedUser && f)) { %>

    <div></div>
    <h2><%= __('estate.form.budowy') %></h2>
    <div></div>

    <div>
        <table class="table-list">
            <thead>
            <tr>
                <th><%= __('constructions.fields.firm') %></th>
                <th><%= __('constructions.fields.managerName') %></th>
                <th><%= __('constructions.fields.managerLastNameBig') %></th>
                <th><%= __('constructions.fields.endDate') %></th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
            <% for (let construction of constructions) { %>
                <% if (admin || (loggedUser.Nazwa === construction.Nazwa)) { %>
                    <tr>
                        <td><%= construction.Nazwa %></td>
                        <td><%= construction.ImieManagera %></td>
                        <td><%= construction.NazwiskoManagera %></td>
                        <td><%= construction.DataZakonczenia ?
                                new Date(construction.DataZakonczenia.getTime() - (construction.DataZakonczenia.getTimezoneOffset() * 60000)).toISOString().split("T")[0] : '' %></td>
                        <td><a href="/constructions/details/<%= construction.bud_Id %>">click</a></td>
                    </tr>
                <% } %>
            <% } %>
            </tbody>
        </table>
    </div>
    <% } %>
    <% } %>

</main>

<%- include('../../fragments/footer.ejs') %>